.section {
	display: block;
	min-width: 320px;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	background-color: #6da9e8;
	border-radius: 5px;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

.text {
	text-align: center;
}

.colortext {
	text-align: center;
	color: red;
}